<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy — Location When In Use Usage Description</key>
	<string>Location is used to locate user and scooters. The user can see the closer scooters when location is autorized</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location is used to locate user and scooters. The user can see the closer scooters when location is autorized</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is used to locate user and scooters. The user can see the closer scooters when location is autorized</string>
</dict>
</plist>
